.footer{
  font-size: 18px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  height: 20vh;
  padding: 50px 20px;
  & a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 65px;
  }
  & div{
    margin-top: 35px;
  }
}

.all-human{
  font-size: 20px;
  text-align: center;
  & hr{
    margin-top: 40px;
  }
}
