.footer{
  flex-shrink: 0;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  height: 20vh;
  padding: 20px;
  & a{
    text-decoration: none;
    color: #ffffff;
  }
}

.all-human{
  font-size: 20px;
  text-align: center;
  & hr{
    margin-top: 40px;
  }
}
