@import "colors.scss";
@import "fonts.scss";
@import "shop.scss";
@import "cart.scss";
@import "footer.scss";
@import "home.scss";

body{
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.bold{
  font-weight: bold;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 75vh;
}

.logo-react{
  width: 35px;
  margin-right: 25px;
}

.navbar{
  padding: 20px;
}

nav a{
  color: $color-black;
  padding: 2px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 5px;
  text-decoration: none;
  &:hover{
    color: $dark-grey;
  }
}

.human{
  font-family: "Inter";
  font-size: 30px;
}

.btn-pages{
  float: right;
}

.profile{
  display: flex;
  justify-content: center;
}

.signup, .login, .error{
  display: flex;
  justify-content: center;
  align-items: center;
}

//Logout btn
.logout{
  border: solid 1px #000000;
  border-radius: none;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 18px;
}
