@import "colors.scss";
@import "fonts.scss";

body{
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.logo-react{
  width: 35px;
  margin-right: 25px;
}

.navbar{
  padding: 10px;
}

nav a{
  color: $color-black;
  padding: 2px;
  font-weight: bold;
  font-size: 20px;
  margin: 0 5px;
  text-decoration: none;
  &:hover{
    color: $dark-grey;
  }
}

.human{
  font-family: "Inter";
}

.btn-pages{
  float: right;
}
